
* {
  font-family: Garamond, Arial, serif;
  font-weight: bold;
}

@media only screen and (min-width: 400px) {
  *{background-color: goldenrod;
    color:green;}
  img{max-width: 100%;}
}

@media only screen and (min-width: 768px) {
  *{background-color: grey;
    color:white;}
  img{max-width: 100%;}
}

@media only screen and (min-width: 960px) {
  *{background-color: lavender;
    color: black;}
  img{max-width: 100%;}
}

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;

 }

 li {
   display: inline;
 }
